<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}" >
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h2 class="title">FORMULARIO</h2>
        <form action="#" name="registration">
      
          <label for="firstname">Nombre</label>
          <input type="text" name="firstname" id="firstname" placeholder="">
      
          <label for="lastname">Apellidos</label>
          <input type="text" name="lastname" id="lastname" placeholder="">
      
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="examplen@doe.com">
      
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
      
          <button type="submit">Registrarme</button>
        </form>
      
        <div class="article-reference">
            <script src="{{ url_for('static', filename='jquery.css') }}"></script>
      
</body>
</html>